<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <style>
  
    </style>
    <script>
      function togglePasswordVisibility() {
        const passwordInput = document.getElementById("password");
        const passwordToggle = document.getElementById("password-toggle");

        if (passwordInput.type === "password") {
          passwordInput.type = "text";
          passwordToggle.textContent = "Hide";
        } else {
          passwordInput.type = "password";
          passwordToggle.textContent = "Show";
        }
      }
    </script>
  </head>
  <body>
    <header>
      <div class="header-title">
        <h1>Swift Note</h1>
        <span>Keep Your Notes Here!</span>
      </div>
    </header>
    <div class="error-container">
      <% if (typeof error !== 'undefined') { %>
      <p class="error"><%= error %></p>
      <% } %>
    </div>
    <main>
      <div class="form-container">
        <p class="title">Login to continue</p>
        <form action="/auth/login" method="POST" onsubmit="validateLoginForm(event)">
          <input
            type="email"
            id="email"
            placeholder="Email"
            name="email"
            required
          />
          <div class="password-container">
            <input
              type="password"
              id="password"
              placeholder="Password"
              name="password"
              required
            />
            <button type="button" id="password-toggle" class="password-toggle" onclick="togglePasswordVisibility()">Show</button>
          </div>
          <button class="login" type="submit">Login</button>
        </form>
        <span>Don't have an account? </span><a href="/auth/signup">Sign Up</a>
      </div>
    </main>
  </body>
</html>
