<!DOCTYPE html>
<html>
  <head>
    <title>Add Note</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    <header>
      <div class="header-title">
        <h1>Swift Note</h1>
        <span>Keep Your Notes Here!</span>
      </div>
    </header>
    <main>

      <% if (typeof error !== 'undefined') { %>
        <p style="color: red"><%= error %></p>
        <% } %>
        <div class="form-container">
          <p>Add a Note</p>
          <form action="/" method="POST">
            <input
            type="text"
            id="title"
            name="note[title]"
            placeholder="Title"
            required
            />
            <textarea
            id="content"
            name="note[content]"
            placeholder="content"
            required
            ></textarea>
            <button class="note-action" type="submit">Add Note</button>
          </form>
        </div>
        <a class="go-back" href="/">Back to Notes</a>
      </main>
      </body>
      </html>
      